In [6]:
import pandas as pd
import json
data = pd.DataFrame({
    "name": ['alice','bob'],
    "age" : [25,30]
}
)

In [11]:
data

    name  age
0  alice   25
1    bob   30

In [18]:
list(json.loads(data.T.to_json()).values())

[{'name': 'alice', 'age': 25}, {'name': 'bob', 'age': 30}]